@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	cursor: url('images/mouse.svg'), auto;
}

body {
	font-family: "Instrument Sans", sans-serif;
	font-style: normal;
	color: #453e3d;
	background-color: #FDFDFD;
}

h1 {
	font-size: 4.5rem;
	font-weight: 480;
}

h2 {
	font-size: 1.2rem;
	font-weight: 600;
}

h3 {
	font-size: 1.2rem;
	font-weight: 100;
}

h4 {
	font-size: 0.9rem;
	font-weight: 100;
}

p {
	font-size: 1rem;
	font-weight: 100;
}

a,
a:visited {
	color: #453e3d;
	text-decoration: none;
}

/* a:hover {
	font-weight: 650;
} */

.nav-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
}

.home-nav-container {
	position: absolute;
	left: 10rem;
}

.nav-item a:hover,
.nav-item a.active {
	background-image: url("images/bg-line.svg");
	background-size: auto;
}

.nav-placement-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 10;
}

.nav-text-container {  
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 6rem;

	background-color: #FDFDFD;
	padding: 1rem 1.25rem;
	margin: 4rem 0;
	border-radius: 999px;
	box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

section {
	padding-top: 20vh;
	height: 93vh;
	margin: 0 1.5rem 3rem;
	box-sizing: border-box;
	min-height: fit-content;
}

.home-container {
	margin: 10vh 10vw;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 5rem;
}

.title-container h1,
.title-container h3,
.socials-container {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.0s ease, transform 1.0s ease;
}

.profile-doodle {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 1.5s ease, transform 1.5s ease;
}

.title-container h1.show,
.title-container h3.show,
.socials-container.show,
.profile-doodle.show {
  opacity: 1;
  transform: translateY(0);
}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.title-container h1 {
	white-space: nowrap;
}

.home-text-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 1rem;
}

.title-bg-container {
	background-image: url("images/title-bg.svg");
	background-size: 105%;
	background-repeat: no-repeat;
	background-position-y: 70%;
	margin-bottom: 0.5rem;
}

.profile-doodle {
	width: 25rem;
}

.icon {
	width: 2rem;
	transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.icon-main {
	width: 4rem;
	transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.icon:hover, .icon-main:hover {
	text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
}

.exp-line-vertical {
	width: 3px;
	background-color: #453e3d;
	flex-shrink: 0;
}

.experience-section-container {
	margin: 0 20vw;
	display: flex;
	flex-direction: column;
	gap: 2rem
}

.experience-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: 1.5rem;
	margin-right: 25vw;
}

.experience-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.experience-card, .experience-container-header {
	opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.experience-card.show, .experience-container-header.show {
    opacity: 1;
    transform: translateY(0);
}

.experience-card h4 {
	background-image: url("images/bg-line.svg");
}

/* .experience-card a {
	text-decoration: underline;
} */

.experience-card a:hover {
	text-decoration: underline;
}


.experience-tag-container h4 {
	background-color: #F1F1F1;
	padding: 0.4rem 0.5rem;
	background-image: none;
	border-radius: 15px;
}

.experience-tag-container {
	display: flex;
	gap: 0.5rem;
}



.about-container, .projects-container, .play-container {
	margin: 10rem 20vw;
}

.about-container {
	margin: 10vh 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.about-img {
	max-width: 70%;
}

.about-socials-link {
	text-decoration: underline;
}

.about-socials-link:hover {
	color: #d6bec8;
}
/* .icon {
	width: 2rem;
	transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.icon-main {
	width: 4rem;
	transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.icon:hover, .icon-main:hover {
	text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
} */


.footer {
	text-align: center;
	margin-bottom: 1rem;
}



